/********************* configs *********************/
@font-face {
  font-family: "Coda";
  src: local("Coda"), url("../assets/Coda-Regular.ttf") format("truetype");
  font-weight: normal;
}

.treeViewPanel * {
  font-family: 'Coda', cursive;
}

:root {
  --treeview_white: #ffffff;
  --treeview_primary: #00f0ff;
  --treeview_primary_light: #b7fbff;
  --treeview_primary_dim: #00f0ff80;
  --treeview_primary_border: 1px solid var(--treeview_primary);
  --treeview_primary_dim_border: 1px solid var(--treeview_primary_dim);
  --treeview_primary_transition: all 500ms cubic-bezier(0.45, 0, 0.55, 1);
  --treeview_tansparent_bgx2: rgba(0, 194, 255, 0.2);
  --treeview_tansparent_bgx3: rgba(0, 194, 255, 0.3);
  --treeview_tansparent_bgx6: rgba(0, 194, 255, 0.6);
  --treeview_gradient_bgx6: linear-gradient(
    90deg,
    var(--treeview_tansparent_bgx6) 0%,
    rgba(217, 217, 217, 0) 100%
  );
}

/* for Dark Theme */
.treeViewPanel.lightTheme {
  --treeview_white: #04287c;
  --treeview_primary: #003033;
  --treeview_primary_light: #001c1e;
  --treeview_primary_dim: #00f0ff80;
}

/********************* shapes styles *********************/
.treeViewPanel .treeViewHeaderDot {
  padding-bottom: 15px;
}

.treeViewPanel .outerCircle {
  width: 30px;
  height: 30px;
  min-width: 30px;
  background: var(--treeview_tansparent_bgx3);
  border-radius: 50%;
  border: var(--treeview_primary_border);
  position: relative;
  transition: var(--treeview_primary_transition);
}

.treeViewPanel .middleCircle {
  width: 20px;
  height: 20px;
  min-width: 20px;
  background: var(--treeview_tansparent_bgx6);
  border-radius: 50%;
  border: var(--treeview_primary_border);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: var(--treeview_primary_transition);
}

.treeViewPanel .innerCircle {
  width: 10px;
  height: 10px;
  min-width: 10px;
  background: var(--treeview_white);
  border-radius: 50%;
  border: 1px solid var(--treeview_white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: var(--treeview_primary_transition);
}

.treeViewPanel .connectorHeaderVerticalLine {
  border-left: var(--treeview_primary_border);
  margin-top: 16px;
}

.treeViewPanel .withMainConnector {
  margin-left: -16px;
}

.treeViewPanel .withoutMainConnector {
  margin-left: 16px;
}

.treeViewPanel .connectorVerticalLine {
  border-left: var(--treeview_primary_border);
}

.treeViewPanel .itemConnector {
  height: auto;
  margin-left: -6px;
  display: flex;
}

.treeViewPanel .connectorDot {
  width: 10px;
  height: 10px;
  background: var(--treeview_white);
  border-radius: 50%;
  border: 1px solid var(--treeview_white);
  z-index: 1;
}

.treeViewPanel .connectorHorizantalLine {
  border: var(--treeview_primary_border);
  border-radius: 0 0 0 10px;
  border-top: none;
  border-right: none;
  width: 25px;
  height: 45%;
  margin-left: -6.5px;
}

.treeViewPanel .treeViewItemAccordianBreakLine {
  margin-top: 0 !important;
  margin-bottom: 1rem !important;
  border: none;
  border-top: var(--treeview_primary_border);
}

.treeViewPanel .techBadge {
  border: var(--treeview_primary_border);
  border-radius: 50px;
  padding: 5px;
  padding-top: 0;
  padding-bottom: 0;
  width: auto;
  min-width: 30px;
  height: 30px;
  background-color: var(--treeview_tansparent_bgx2);
  transition: 5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.treeViewPanel .techBadgeLogo {
  height: 20px;
  width: auto;
  aspect-ratio: 1/1;
}

.treeViewPanel .badgeName {
  display: block;
  width: auto;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  color: var(--treeview_primary_light);
}

/********************* layout styles *********************/
.treeViewPanel .treeViewHeaderPanel {
  display: flex;
}

.treeViewPanel .treeViewHeader {
  color: var(--treeview_primary);
  font-size: 24px;
}

.treeViewPanel .treeViewItem {
  padding-left: 16px;
  height: 100%;
  display: flex;
}

.treeViewPanel .treeViewItem:last-child .connectorVerticalLine {
  border-left: none;
}

.treeViewPanel .treeViewItem:last-child .treeViewItemCard {
  margin-bottom: 25px;
}

.treeViewPanel .treeViewItemCard {
  width: 100%;
  padding-bottom: 1px;
  margin: 10px 0 10px 0;
  background-color: var(--treeview_tansparent_bgx2);
  border: var(--treeview_primary_border);
  border-radius: 10px;
  backdrop-filter: blur(10px);
}

.treeViewPanel .treeViewItemAccordian {
  background-color: transparent;
  letter-spacing: 0.5px;
}

.treeViewPanel .treeViewItemAccordianContainer {
  display: flex;
  align-items: center;
}

.treeViewPanel .treeViewItemAccordianImg {
  height: 60px;
  width: auto;
  border: var(--treeview_primary_border);
  border-radius: 50%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.treeViewPanel .roundedLogoHolder {
  border: var(--treeview_primary_border);
  border-radius: 50%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.treeViewPanel .treeViewItemAccordianTechPanel {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  align-items: start;
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

.treeViewPanel .treeViewTechPanel {
  display: flex;
  align-items: center;
  width: 100%;
  background: var(--treeview_gradient_bgx6);
  background-repeat: no-repeat;
  border-radius: inherit;
  /* background-size: 25%; */
  /* background-position-y: 0.5px; */
}

.treeViewPanel .treeViewTechPanelHeader {
  height: 100%;
  padding: 0.75rem;
  font-size: 16px;
  color: var(--treeview_white);
}

.treeViewPanel .treeViewTechPanelItems {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  justify-content: start;
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

.treeViewPanel .treeViewExpander {
  border-radius: inherit;
}

.treeViewPanel .treeViewExpanderHeaderContainer {
  padding: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.treeViewPanel .treeViewExpanderHeader {
  flex-grow: 1;
}

.treeViewPanel .treeViewExpanderHeaderContainer svg {
  transition: transform 0.3s ease-in-out;
}

.treeViewPanel .treeViewExpanderHeaderContainer.expanded svg {
  transform: rotate(180deg);
}

.treeViewPanel .treeViewExpanderHeaderContainer svg {
  transition: transform 0.3s ease-in-out;
}

.treeViewPanel .treeViewExpanderBodyContainer {
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  max-height: 0;
}

.treeViewPanel .treeViewExpanderBodyContainer.expanded {
  max-height: 100px;
}

.treeViewPanel .treeViewExpanderBody {
  padding: 0.75rem;
  padding-top: 0;
}

.treeViewPanel .treeViewExpanderBodyLiner {
  border: none;
  border-top: 1px solid;
}

@media screen and (max-width: 450px) {
  .treeViewPanel .treeViewItemAccordianContainer {
    flex-wrap: wrap;
  }

  .treeViewPanel .treeViewItemAccordianImg {
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .treeViewPanel .treeViewTechPanel {
    flex-wrap: wrap;
  }

  .treeViewPanel .treeViewTechPanelHeader {
    width: 100%;
    padding: 0.5rem;
  }

  .treeViewPanel .treeViewTechPanelItems {
    margin-bottom: 1rem !important;
  }
}
